<div class="comments_details">
  <div class="comments_container">
    <div class="title">
      "<%= @post.title %>" by <%= @post.author.name %>
    </div>
    <div class="comments_likes">
      <span class="comments">Comments: <%= @post.comments_counter %>, </span>
      <span class="likes">Likes: <%= @post.likes_counter %></span>
    </div>

    <h3><%= @post.text %></h3>
  </div>

  <div class="comments_container">
    <% @comments = Post.find(@post.id).comments %>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <div>
          <span><%= comment.author.name %> : <%= comment.text %></span>
        </div>
      <% end %>
    <% else %>
      <div class = "no_comment">
        <span>No comments available yet!!!</span>
      </div>
    <% end %>
  </div>
</div>
